<div class="post">
    <div class="img">
        <div [attr.id]="modalId" class="carousel carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active photo" *ngFor='let image of anuncio.imagenes'>
                    <img [src]="image.downloadUrl" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" [href]="'#' + modalId" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" [href]="'#' + modalId" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
        <div class="favorite">
            <!-- <fa-icon [icon]="faHeartRegular"></fa-icon> -->
            <fa-icon [icon]="faHeartSolid"></fa-icon>
        </div>
        <div class="price">
            <p>EUR {{ anuncio.precio | number }}</p>
        </div>
    </div>
    <div class="info">
        <div class="location">
            <p>{{ anuncio.title }}</p> 
        </div>
        <div class="street">
            <p>{{ anuncio.address.calle }}</p> 
        </div>
        <div class="rooms">
            <ul>
                <li>
                    <fa-icon [icon]="faHome"></fa-icon>
                    <p>
                        <span>{{ anuncio.ambientes }}</span> 
                        Habitaciones 
                    </p>
                </li>
                <li>
                    <span class='dot'>•</span>
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                    <p>{{ anuncio.queDesea | postType }} </p>
                </li>
                <li *ngIf='anuncio.superficie'>
                    <span class='dot'>•</span>
                    <fa-icon [icon]="faRulerHorizontal"></fa-icon>
                    <p><span>{{ anuncio.superficie }}</span> m²</p>
                </li>
            </ul>
        </div>
        <div class="contact-btn">
            <button (click)="openModal('lol@gmail.com')">Contactar</button>
        </div>
    </div>
</div> 
