<div class="post">
    <div class="img">
        <div [attr.id]="modalId" class="carousel slide" >
            <div class="carousel-inner">
                <div class="carousel-item img-container" [ngClass]="{'active': i === 0}"
                *ngFor='let image of anuncio.imagenes; let i = index'>
                <div class="imagen">
                    <img [src]="image | postImages" class="d-block" alt="...">
                </div>
                </div>
            </div>
            <a class="carousel-control-prev" [attr.href]="'#' + modalId" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" [attr.href]="'#' + modalId" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
        <div class="favorite" (click)='favouriteChanged(anuncio._id)'>
            <fa-icon *ngIf='!isFavourite' [icon]="faHeartRegular"></fa-icon>
            <fa-icon *ngIf='isFavourite' [icon]="faHeartSolid"></fa-icon>
        </div>
        <div class="price">
            <p>EUR {{ anuncio.precio | number }}</p>
        </div>
    </div>
    <div class="info" [routerLink]="['/post', anuncio._id]" >
        <div class="location">
            <p>{{ anuncio.title }}</p> 
        </div>
        <div class="street">
            <p>{{ anuncio.address.formatted }}</p> 
        </div>
        <div class="rooms">
            <ul>
                <li>
                    <fa-icon [icon]="faHome"></fa-icon>
                    <p>
                        <span>{{ anuncio.ambientes }}</span> 
                        Habitaciones 
                    </p>
                </li>
                <li>
                    <span class='dot'>•</span>
                    <fa-icon [icon]="faDollarSign"></fa-icon>
                    <p>{{ anuncio.queDesea | postType }} </p>
                </li>
                <li *ngIf='anuncio.superficie'>
                    <span class='dot'>•</span>
                    <fa-icon [icon]="faRulerHorizontal"></fa-icon>
                    <p><span>{{ anuncio.superficie }}</span> m²</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="contact-btn">
        <button (click)="openModal('lol@gmail.com')">Contactar</button>
    </div>
</div> 
