
.anuncio .img{
    position: relative;
}

.carousel .imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .imagen img{
    width: 100%;
    height: auto;
    max-height: 600px;
}

.anuncio .imagen:before{
    display: block;
    content: "";
    background: linear-gradient(to bottom,transparent 70%,rgba(0,0,0,.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.anuncio .img .price{
    position: absolute;
    color:white;
    bottom:.5em;
    left:.8em;
    font-size: 1.4em;
    z-index:2;
}

.anuncio .info{
    padding: 20px;
}

.anuncio .info .address {
    font-size: 20px;
    color: #4761CF;
    font-weight: bold;
}

.anuncio .info .options {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
}

.anuncio .info .options p{
    font-weight: bold;
}

.anuncio .info .description{
    margin-top: 30px;
    text-align: justify;
    line-height: 25px;
}

.anuncio .info .other-options{
    margin-top: 30px;
    display: flex;
}

.anuncio .info .other-options button{
    width: 33%;
    max-width: 150px;
    background: rgb(102, 126, 235);
    color: white;
    font-size: 14px;
    border: 1px solid rgb(102, 126, 235);
    border-radius: 15px;
    margin-right: 10px;
}

.anuncio .info .other-options button:last-child{
    margin-left: 0;
}

.anuncio .info .other-options button:hover {
    transition: .3s all ease;
    background: white;
    color: rgb(102, 126, 235);
}