<div class="search-container">
    <div class="top-search" *ngIf='!mapActive'>
        <div class="searching-in">
            <p>
                Mas de {{ (filters.provincia && anuncios.length > 0) 
                    ? anuncios.length 
                    : '100,000' }} viviendas en venta en
                <span>
                    {{ (filters.provincia && anuncios.length > 0) ? 
                        anuncios[0].address.provincia + ', España'
                        : 'Diportal.es' }}
                </span>
            </p>
        </div>
        <div class="search-posts">
            <input #search type="text" (keyup.enter)='searchPosts(search.value)'
                 placeholder="Busca una publicación" [disabled]='!filters.provincia'>
            <button (click)='searchPosts(search.value)' [disabled]='!filters.provincia'
                    type='button'>
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="search-options" [ngClass]="{'mt-3': mapActive}">
        <div class="select-province">
            <select [(ngModel)]="filters.provincia" (ngModelChange)='provinceChanged( $event )'
                name='provincia' class="filters-FormSelect input-select">
                <option value="">Selecciona una provincia</option>
                <option value='alava'>Álava</option>
                <option value='albacete'>Albacete</option>
                <option value='alicante'>Alicante/Alacant</option>
                <option value='almeria'>Almería</option>
                <option value='asturias'>Asturias</option>
                <option value='avila'>Ávila</option>
                <option value='badajoz'>Badajoz</option>
                <option value='barcelona'>Barcelona</option>
                <option value='burgos'>Burgos</option>
                <option value='caceres'>Cáceres</option>
                <option value='cadiz'>Cádiz</option>
                <option value='cantabria'>Cantabria</option>
                <option value='castellon'>Castellón/Castelló</option>
                <option value='ceuta'>Ceuta</option>
                <option value='ciudadreal'>Ciudad Real</option>
                <option value='cordoba'>Córdoba</option>
                <option value='cuenca'>Cuenca</option>
                <option value='girona'>Girona</option>
                <option value='laspalmas'>Las Palmas</option>
                <option value='granada'>Granada</option>
                <option value='guadalajara'>Guadalajara</option>
                <option value='guipuzcoa'>Guipúzcoa</option>
                <option value='huelva'>Huelva</option>
                <option value='huesca'>Huesca</option>
                <option value='illesbalears'>Illes Balears</option>
                <option value='jaen'>Jaén</option>
                <option value='acoruña'>A Coruña</option>
                <option value='larioja'>La Rioja</option>
                <option value='leon'>León</option>
                <option value='lleida'>Lleida</option>
                <option value='lugo'>Lugo</option>
                <option value='madrid'>Madrid</option>
                <option value='malaga'>Málaga</option>
                <option value='melilla'>Melilla</option>
                <option value='murcia'>Murcia</option>
                <option value='navarra'>Navarra</option>
                <option value='ourense'>Ourense</option>
                <option value='palencia'>Palencia</option>
                <option value='pontevedra'>Pontevedra</option>
                <option value='salamanca'>Salamanca</option>
                <option value='segovia'>Segovia</option>
                <option value='sevilla'>Sevilla</option>
                <option value='soria'>Soria</option>
                <option value='tarragona'>Tarragona</option>
                <option value='santacruztenerife'>Santa Cruz de Tenerife</option>
                <option value='teruel'>Teruel</option>
                <option value='toledo'>Toledo</option>
                <option value='valencia'>Valencia/Valéncia</option>
                <option value='valladolid'>Valladolid</option>
                <option value='vizcaya'>Vizcaya</option>
                <option value='zamora'>Zamora</option>
                <option value='zaragoza'>Zaragoza</option>
            </select>
        </div>
        <div class="show-type">
            <button [routerLink]="['/search']" *ngIf='mapActive'>
                ¿Prefieres buscar por listado?
            </button>
            <button [routerLink]="['mapa']" *ngIf='!mapActive'>
                ¿Prefieres buscar por mapa?
            </button>
        </div>
    </div>
    <section class="main-search">
        <div class="sidebar-filters">
            <p>Filtros</p>
            <hr>
            <form action="" class="filters-form">
                <div class="filters">
                    <div class="want-to">
                        <h4 class="filter-title">¿Que desea?</h4>
                        <div class="filter">
                            <select [(ngModel)]="filters.queDesea" name='queDesea' class="filters-FormSelect input-select">
                                
                                <option value="comprar">Comprar</option>
                                <option value="alquilar">Alquilar</option>
                                <option value="vacacional">Vacacional</option>
                                <option value="servicios">Servicios</option>
                            </select>
                        </div>
                    </div>
                    <div class="type">
                        <h4 class="filter-title">Tipo</h4>
                        <div class="filter">
                            <select [(ngModel)]="filters.tipo" name='tipo' class="filters-FormSelect input-select">
                                <option value="vivienda">Vivienda</option>
                                <option value="obranueva">Obra Nueva</option>
                                <option value="localynave">Local y Nave</option>
                                <option value="edificio">Edificio</option>
                                <option value="terreno">Terreno</option>
                                <option value="trastero">Trastero</option>
                                <option value="garaje">Garaje</option>
                                <option value="oficina">Oficina</option>
                            </select>
                        </div>
                    </div>
                    <div class="caracteristicas">
                        <h4 class="filter-title">Características</h4>
                        <div class="filter">
                            <select [(ngModel)]="filters.ambientes" name='ambientes' class="filters-FormSelect input-select">
                                <option value="">Habitaciones</option>
                                <option value="1">1 o más habs.</option>
                                <option value="2">2 o más habs.</option>
                                <option value="3">3 o más habs.</option>
                                <option value="4">4 o más habs.</option>
                                <option value="5">5 o más habs.</option>
                            </select>
                        </div>
                    </div>
                    <div class="baños">
                        <div class="filter">
                            <select [(ngModel)]="filters.bathrooms" name='bathrooms' class="filters-FormSelect input-select">
                                <option value="" default>Baños</option>
                                <option value="1">1 o más baños</option>
                                <option value="2">2 o más baños</option>
                                <option value="3">3 o más baños</option>
                            </select>
                        </div>
                    </div>
                    <div class="precio-desde">
                        <h4 class="filter-title">Precio</h4>
                        <div class="filter">
                            <select class="sui-FormSelect re-Filters-gridCell re-Filter-select--selectTo input-select">
                                <option value="0">Precio hasta</option>
                                <option value="50000">Hasta 50.000 €</option>
                                <option value="75000">Hasta 75.000 €</option>
                                <option value="100000">Hasta 100.000 €</option>
                                <option value="125000">Hasta 125.000 €</option>
                                <option value="150000">Hasta 150.000 €</option>
                                <option value="175000">Hasta 175.000 €</option>
                                <option value="200000">Hasta 200.000 €</option>
                                <option value="225000">Hasta 225.000 €</option>
                                <option value="250000">Hasta 250.000 €</option>
                                <option value="275000">Hasta 275.000 €</option>
                                <option value="300000">Hasta 300.000 €</option>
                                <option value="325000">Hasta 325.000 €</option>
                                <option value="350000">Hasta 350.000 €</option>
                                <option value="375000">Hasta 375.000 €</option>
                                <option value="400000">Hasta 400.000 €</option>
                                <option value="425000">Hasta 425.000 €</option>
                                <option value="450000">Hasta 450.000 €</option>
                                <option value="475000">Hasta 475.000 €</option>
                                <option value="500000">Hasta 500.000 €</option>
                                <option value="550000">Hasta 550.000 €</option>
                                <option value="600000">Hasta 600.000 €</option>
                                <option value="650000">Hasta 650.000 €</option>
                                <option value="700000">Hasta 700.000 €</option>
                                <option value="750000">Hasta 750.000 €</option>
                                <option value="800000">Hasta 800.000 €</option>
                                <option value="850000">Hasta 850.000 €</option>
                                <option value="900000">Hasta 900.000 €</option>
                                <option value="950000">Hasta 950.000 €</option>
                                <option value="1000000">Hasta 1.000.000 €</option>
                                <option value="1100000">Hasta 1.100.000 €</option>
                                <option value="1200000">Hasta 1.200.000 €</option>
                                <option value="1300000">Hasta 1.300.000 €</option>
                                <option value="1400000">Hasta 1.400.000 €</option>
                                <option value="1500000">Hasta 1.500.000 €</option>
                                <option value="1600000">Hasta 1.600.000 €</option>
                                <option value="1700000">Hasta 1.700.000 €</option>
                                <option value="1800000">Hasta 1.800.000 €</option>
                                <option value="1900000">Hasta 1.900.000 €</option>
                                <option value="2000000">Hasta 2.000.000 €</option>
                                <option value="2250000">Hasta 2.250.000 €</option>
                                <option value="2500000">Hasta 2.500.000 €</option>
                                <option value="2750000">Hasta 2.750.000 €</option>
                                <option value="3000000">Hasta 3.000.000 €</option>
                                <option value="3500000">Hasta 3.500.000 €</option>
                                <option value="4000000">Hasta 4.000.000 €</option>
                            </select>
                        </div>
                    </div>
                    <div class="precio-hasta">
                        <div class="filter">
                            <select class="filters-FormSelect input-select">
                                <option value="0">Precio desde</option>
                                <option value="50000">Desde 50.000 €</option>
                                <option value="75000">Desde 75.000 €</option>
                                <option value="100000">Desde 100.000 €</option>
                                <option value="125000">Desde 125.000 €</option>
                                <option value="150000">Desde 150.000 €</option>
                                <option value="175000">Desde 175.000 €</option>
                                <option value="200000">Desde 200.000 €</option>
                                <option value="225000">Desde 225.000 €</option>
                                <option value="250000">Desde 250.000 €</option>
                                <option value="275000">Desde 275.000 €</option>
                                <option value="300000">Desde 300.000 €</option>
                                <option value="325000">Desde 325.000 €</option>
                                <option value="350000">Desde 350.000 €</option>
                                <option value="375000">Desde 375.000 €</option>
                                <option value="400000">Desde 400.000 €</option>
                                <option value="425000">Desde 425.000 €</option>
                                <option value="450000">Desde 450.000 €</option>
                                <option value="475000">Desde 475.000 €</option>
                                <option value="500000">Desde 500.000 €</option>
                                <option value="550000">Desde 550.000 €</option>
                                <option value="600000">Desde 600.000 €</option>
                                <option value="650000">Desde 650.000 €</option>
                                <option value="700000">Desde 700.000 €</option>
                                <option value="750000">Desde 750.000 €</option>
                                <option value="800000">Desde 800.000 €</option>
                                <option value="850000">Desde 850.000 €</option>
                                <option value="900000">Desde 900.000 €</option>
                                <option value="950000">Desde 950.000 €</option>
                                <option value="1000000">Desde 1.000.000 €</option>
                                <option value="1100000">Desde 1.100.000 €</option>
                                <option value="1200000">Desde 1.200.000 €</option>
                                <option value="1300000">Desde 1.300.000 €</option>
                                <option value="1400000">Desde 1.400.000 €</option>
                                <option value="1500000">Desde 1.500.000 €</option>
                                <option value="1600000">Desde 1.600.000 €</option>
                                <option value="1700000">Desde 1.700.000 €</option>
                                <option value="1800000">Desde 1.800.000 €</option>
                                <option value="1900000">Desde 1.900.000 €</option>
                                <option value="2000000">Desde 2.000.000 €</option>
                                <option value="2250000">Desde 2.250.000 €</option>
                                <option value="2500000">Desde 2.500.000 €</option>
                                <option value="2750000">Desde 2.750.000 €</option>
                                <option value="3000000">Desde 3.000.000 €</option>
                                <option value="3500000">Desde 3.500.000 €</option>
                                <option value="4000000">Desde 4.000.000 €</option>
                            </select>
                        </div>
                    </div>
                    <div class="superficio-desde">
                        <h4 class="filter-title">Superficie</h4>
                        <div class="filter">
                            <select [(ngModel)]="filters.superficieDesde" name='superficieDesde' class="filters-FormSelect input-select">
                                <option value="0">Superficie desde</option>
                                <option value="60">Desde 60 m2</option>
                                <option value="80">Desde 80 m2</option>
                                <option value="100">Desde 100 m2</option>
                                <option value="120">Desde 120 m2</option>
                                <option value="140">Desde 140 m2</option>
                                <option value="160">Desde 160 m2</option>
                                <option value="180">Desde 180 m2</option>
                                <option value="200">Desde 200 m2</option>
                                <option value="220">Desde 220 m2</option>
                                <option value="240">Desde 240 m2</option>
                                <option value="260">Desde 260 m2</option>
                                <option value="280">Desde 280 m2</option>
                                <option value="300">Desde 300 m2</option>
                            </select>
                        </div>
                    </div>
                    <div class="superficio-desde">
                        <div class="filter">
                            <select [(ngModel)]="filters.superficieHasta" name='superficieHasta' class="filters-FormSelect input-select">
                                <option value="0">Superficie hasta</option>
                                <option value="60">Hasta 60 m2</option>
                                <option value="80">Hasta 80 m2</option>
                                <option value="100">Hasta 100 m2</option>
                                <option value="120">Hasta 120 m2</option>
                                <option value="140">Hasta 140 m2</option>
                                <option value="160">Hasta 160 m2</option>
                                <option value="180">Hasta 180 m2</option>
                                <option value="200">Hasta 200 m2</option>
                                <option value="220">Hasta 220 m2</option>
                                <option value="240">Hasta 240 m2</option>
                                <option value="260">Hasta 260 m2</option>
                                <option value="280">Hasta 280 m2</option>
                                <option value="300">Hasta 300 m2</option>
                            </select>
                        </div>
                    </div>
                    <div class="other-options">
                        <h4 class="filter-title">Otras opciones</h4>
                        <div class="filter">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let option of anuncio.otherOptions; let i = index'>
                                    <input type="checkbox" [attr.id]="'checkbox_' + i">
                                    <label [attr.for]="'checkbox_' + i">
                                        <fa-icon class='add-icon' [icon]="faPlus"></fa-icon>
                                        <fa-icon class='check-icon' [icon]="faCheck"></fa-icon>
                                        {{ option.name }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="filters-btn">
                    <button (click)='applyFilters()'
                        type='submit'>Aplicar filtros</button>
                </div>
            </form>
        </div>
        <div class="right-side">
            <div class="loading" *ngIf="loading">
                <p>Cargando anuncios...</p>
                <div class="spinners">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                </div>
            </div>
            <div *ngIf='!loading && mapActive'
                 class="map-choice animated fadeIn faster">
                <app-map-search [anuncios]='anuncios'></app-map-search>
            </div>
            <div *ngIf='!loading && !mapActive'
                 class="posts animated fadeIn faster">
    
                <app-post *ngFor='let anuncio of anuncios; let i = index' 
                    [modalId]="'anuncio_' + i" 
                    [anuncio]='anuncio'>
                </app-post>
    
            </div>
        </div>
    </section>

</div>