.search-container{
    width: 1200px;
    margin:0 auto;
}
.top-search{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-search .searching-in{
    padding: 5px;
    padding-right: 20px;
    border-bottom: 1px solid #4761CF;
}
.top-search .searching-in span{
    color: #4761CF;
    font-weight: bold;
}
.top-search .search-input{
    border: 1px solid rgb(71,97,207, .5);
    border-radius: 3px;
}
.top-search .search-input,
.top-search .search-input app-search-input{
    width: 40%;
}
.main-search{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main-search .sidebar-filters{
    width: 23%;
    padding:20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px gray;
}
.main-search .sidebar-filters .search{
    display: block;
    margin-bottom: 8px;
    width: 100%;
}
.main-search .sidebar-filters h4.filter-title{
    font-weight: 400;
    margin: 24px 0 0;
    padding: 0;
    color: #504e4e;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}
.main-search .sidebar-filters .filters .filter select{
    margin-right: 0;
    height: 36px;
    padding-bottom: 4px;
    padding-top: 4px;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 8px;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8l10 9 10-9' stroke-linecap='round' stroke='%235F5F5F' fill='none'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px solid #bbb;
    border-radius: 0;
    color: #4d4d4d;
    font-size: 14px;
    padding: 8px 40px 8px 8px;
    width: 100%;
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8l10 9 10-9' stroke-linecap='round' stroke='%235F5F5F' fill='none'/%3E%3C/svg%3E") no-repeat right 10px center;
    text-transform: none;
}
.main-search .sidebar-filters .filters-btn{
    margin-top: 20px;
}
.main-search .sidebar-filters .filters-btn button{
    width: 100%;
    background: #4761CF;
    border:none;
    color: white;
    padding: 8px 25px;
}
.main-search .sidebar-filters .filters-btn button:hover{
    transition: .3s all ease;
    background: rgb(46, 75, 206);
}
.main-search .posts{
    width: 75%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-search .posts app-post{
    width: 48%;
}