.search-container{
    width: 1200px;
    margin:0 auto;
}
.top-search{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-search .searching-in{
    padding: 5px;
    padding-right: 20px;
    border-bottom: 1px solid #4761CF;
}
.top-search .searching-in span{
    color: #4761CF;
    font-weight: bold;
}
.top-search .search-input{
    border: 1px solid rgb(71,97,207, .5);
    border-radius: 3px;
}
.top-search .search-input,
.top-search .search-input app-search-input{
    width: 40%;
}
.main-search{
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main-search .sidebar-filters{
    width: 23%;
    padding:20px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px gray;
}
.main-search .sidebar-filters .search{
    display: block;
    margin-bottom: 8px;
    width: 100%;
}
.main-search .sidebar-filters h4.filter-title{
    font-weight: 400;
    margin: 24px 0 0;
    padding: 0;
    color: #504e4e;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}
.main-search .sidebar-filters .filters-btn{
    margin-top: 20px;
}
.main-search .sidebar-filters .filters-btn button{
    width: 100%;
    background: #4761CF;
    border:none;
    color: white;
    padding: 8px 25px;
}
.main-search .sidebar-filters .filters-btn button:hover{
    transition: .3s all ease;
    background: rgb(46, 75, 206);
}
.main-search .posts{
    width: 75%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-search .posts app-post{
    width: 48%;
}