<section class="main animated fadeIn faster">
        <div class="search" id='search_div'>
            <div class="banner">
                <div class="container">
                    <div class="logo">
                        <img src="../../../../assets/img/location.svg" alt="">
                        <p>Encuentra tu nuevo hogar</p>
                    </div>
                    <div class="find">
                        <form #f="ngForm" (ngSubmit)="searchSubmit(f.value)">
                            <input type="hidden" [(ngModel)]="filters.bathrooms" name='bathrooms'>
                            <input type="hidden" [(ngModel)]="filters.superficieDesde" name='superficieDesde'>
                            <input type="hidden" [(ngModel)]="filters.superficieHasta" name='superficieHasta'>
                            <input *ngIf='filters.cmun' type="hidden" [(ngModel)]="filters.cmun" name='cmun'>
                            <input *ngIf='filters.termino' type="hidden" [(ngModel)]="filters.termino" name='termino'>

                            <div class="show-new">
                                <input type="checkbox" [(ngModel)]="filters.obraNueva" name="obraNueva">
                                <label onclick="changeCheckbox()" (click)="filters.obraNueva = !filters.obraNueva"
                                       id='checkbox_controller' for="show_new">
                                    Mostrar pisos de obra nueva
                                </label>
                            </div>
                            <div class="filters">
                                <input type="hidden" [(ngModel)]="filters.queDesea" name="queDesea">

                                <button [ngClass]="{'active': filters.queDesea == 'comprar'}" 
                                        type='button' (click)="filtersChanged('comprar')">
                                        Comprar
                                </button>

                                <button [ngClass]="{'active': filters.queDesea == 'alquilar'}"
                                        type='button' (click)="filtersChanged('alquilar')">
                                        Alquilar
                                </button>

                                <button [ngClass]="{'active': filters.queDesea == 'vacacional'}"
                                        type='button' (click)="filtersChanged('vacacional')">
                                    Vacacional
                                </button>
                                <button [ngClass]="{'active': filters.queDesea == 'servicios'}"
                                        type='button' (click)="filtersChanged('servicios')">
                                    Servicios
                                </button>

                            </div>
                            <div class="input-search">
                                <div class="select-type">
                                    <select [(ngModel)]="filters.tipo" name="tipo">
                                        <option value="vivienda">Vivienda</option>
                                        <option value="obranueva">Obra Nueva</option>
                                        <option value="localynave">Local y nave</option>
                                        <option value="edificio">Edificio</option>
                                        <option value="terreno">Terreno</option>
                                        <option value="trastero">Trastero</option>
                                        <option value="oficina">Oficina</option>
                                        <option value="garaje">Garaje</option>
                                    </select>
                                </div>
                                <app-search-input></app-search-input>
                            </div>

                            <p class='examples'>ej. Barcelona, Madrid, Barcelona Provincia, Madrid Provincia...</p>
    
                            <div class="final-filters">
                                <div class="ambientes">
                                    <input type="hidden" [(ngModel)]="filters.ambientes" name='ambientes'>
                                    <div class="btn-container" [ngClass]="{ 'container-active': filters.ambientes == '1' }">
                                        <button type='button' [ngClass]="{ 'active': filters.ambientes == '1' }" 
                                                class="amb-option" (click)="filters.ambientes = '1'">
                                            1 Hab.
                                        </button>
                                    </div>
                                    
                                    <div class="btn-container" [ngClass]="{ 'container-active': filters.ambientes == '2' }">
                                        <button type='button' [ngClass]="{ 'active': filters.ambientes == '2' }" 
                                                class="amb-option" (click)="filters.ambientes = '2'">
                                            2 Hab.
                                        </button>
                                    </div>
                                    
                                    <div class="btn-container" [ngClass]="{ 'container-active': filters.ambientes == '3' }">
                                        <button type='button' [ngClass]="{ 'active': filters.ambientes == '3' }" 
                                                class="amb-option" (click)="filters.ambientes = '3'">
                                            3 Hab.
                                        </button>
                                    </div>
                                    
                                    <div class="btn-container" [ngClass]="{ 'container-active': filters.ambientes == '4' }">
                                        <button type='button' [ngClass]="{ 'active': filters.ambientes == '4' }" 
                                                class="amb-option" (click)="filters.ambientes = '4'">
                                            4 Hab.
                                        </button>
                                    </div>
                                    
                                    <div class="btn-container" [ngClass]="{ 'container-active': filters.ambientes == '5+' }">
                                        <button type='button' [ngClass]="{ 'active': filters.ambientes == '5+' }" 
                                                class="amb-option" (click)="filters.ambientes = '5+'">
                                            5+ Hab.
                                        </button>
                                    </div>
                                    
                                </div>
                                <div class="price">
                                    <div class="final-filters-inputs">
                                        <div class="input-container">
                                            <input class='desde' (ngModel)="filters.precioDesde" name='precioDesde'
                                                   type="text" placeholder="EUR Desde" autocomplete="off">
                                        
                                            <input class='hasta' (ngModel)="filters.precioHasta" name='precioHasta'
                                                   type="text" placeholder="EUR Hasta" autocomplete="off">
                                        </div>
                                        
                                        <div class="search-button">
                                            <button type='submit'>BUSCAR</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </form>
    
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="some-houses">
            
            <div class="container">
                <h2>Algunas publicaciones</h2>
                <div class="posts">
                    <app-post *ngFor='let anuncio of anuncios; let i = index' 
                        [modalId]="'anuncio_' + i" 
                        [anuncio]='anuncio'>
                    </app-post>
                </div>
                <div class="show-more">
                    <button [routerLink]="['/search']" >Ver más</button>
                </div>
            </div>
        </div>
        <div class="final-banner" onclick='upToSearch()'>
            <a class="banner-link" title="Encontra tu futuro hogar">
                <div class="banner-outerwraper">
                    <div class="banner-innerwraper">
                        <div class="banner-content">
                            <span class="banner-info">Encuentra tu futuro hogar en diportal</span>
                            <span class="banner-title">
                                Encuentra tu hogar
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
</section>
