*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
p{
    margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
ul{
    margin-bottom: 0;
}
button{
    font-size: small;
}
:focus{
    outline: none !important;
}
button, input, optgroup, select, textarea{
    font-size: small;
    line-height: normal;
}
.container{
    max-width: 1000px;
    margin:0 auto;
    overflow: hidden;
}
:focus{
	outline:0px;
}
.fadeIn{
    animation-name: fadeIn;
}
.faster{
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

.input-select{
    margin-right: 0;
    height: 36px;
    padding-bottom: 4px;
    padding-top: 4px;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 8px;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8l10 9 10-9' stroke-linecap='round' stroke='%235F5F5F' fill='none'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px solid #bbb;
    border-radius: 0;
    color: #4d4d4d;
    font-size: 14px;
    padding: 8px 40px 8px 8px;
    width: 100%;
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8l10 9 10-9' stroke-linecap='round' stroke='%235F5F5F' fill='none'/%3E%3C/svg%3E") no-repeat right 10px center;
    text-transform: none;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* -------------------------Custom checkboxs------------------------- */

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}


ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label fa-icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li label fa-icon.check-icon,
ul.ks-cboxtags li input[type="checkbox"]:checked+label fa-icon.add-icon{
    display:none;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label fa-icon.check-icon {
    display:inline-block;
    transition: all .1s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid rgb(86, 118, 252);
    background-color: rgb(86, 118, 252);
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid rgba(86, 118, 252, .5);
}

