*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
p{
    margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}
ul{
    margin-bottom: 0;
}
button{
    font-size: small;
}
:focus{
    outline: none !important;
}
button, input, optgroup, select, textarea{
    font-size: small;
    line-height: normal;
}
.container{
    max-width: 1000px;
    margin:0 auto;
    animation-name: fadeIn;
    overflow: hidden;
}
:focus{
	outline:0px;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
