footer.re-SharedSeoFooter{
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    line-height: 18.2px;
    padding-top: 20px;
}
footer.re-SharedSeoFooter h4{
    margin-bottom: 20px;
    color:#444444;
}
.re-SharedSeoFooter-seo {
    left: -140px;
    padding: 8px 8px 18px;
    position: relative;
    width: 970px;
    left: inherit;
    margin: 0 auto;
}
.re-SharedSeoFooter-seo .sui-ListLink {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 470px;
    padding: 0;
}
.re-SharedSeoFooter-seo .sui-ListLink-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 16px 0 0;
    list-style: none;
}
.sui-LinkBasic {
    color: #4d4d4d;
    cursor: pointer;
    font-size: 12px;
    margin: 4px;
    text-decoration: none;
}
footer .last-footer{
    background: #1d1d1d;
    width: 100%;
    padding:20px;
}
footer .last-footer .social{
    display: flex;
    justify-content: space-between;
    padding: 15px 15%;
}
footer .last-footer .social li{
    list-style: none;
}
footer .last-footer .social li a{
    cursor: pointer;
}
footer .last-footer .social li svg{
    fill: #1edbcf;
    stroke: #1edbcf;
    height: 30px;
    width: 30px;
}
footer .last-footer .social li svg:hover{
    transition: .3s all ease;
    opacity: .5;
}
footer .last-footer .social{
    border-bottom: 1px solid #1edbcf;
}
footer .last-footer .credits{
    margin-top:  20px;
    text-align: center;
    color:#fff;
    opacity: .7;
    padding-bottom: 5px;
}
footer .last-footer .credits a{
    color: white;
}

/* ----------------------------------------------------------------------------- */
/* -----------------------------Media Queries----------------------------------- */
/* ----------------------------------------------------------------------------- */

@media screen and ( max-width: 1000px ){
    .re-SharedSeoFooter-seo{
        max-width: 100%;
        padding: 0px 40px;
        padding-bottom : 20px;
    }
}
@media screen and ( max-width: 500px ){
    .re-SharedSeoFooter-seo .sui-ListLink{
        height: auto;
    }
    footer .last-footer{
        padding: 10px;
    }
}