footer.re-SharedSeoFooter{
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    line-height: 18.2px;
    padding-top: 20px;
}
footer.re-SharedSeoFooter h4{
    margin-bottom: 20px;
    color:#444444;
}
.re-SharedSeoFooter-seo {
    left: -140px;
    padding: 0 8px 8px;
    position: relative;
    width: 970px;
    left: inherit;
    margin: 0 auto;
}
.re-SharedSeoFooter-seo .sui-ListLink {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 470px;
    padding: 0;
}
.re-SharedSeoFooter-seo .sui-ListLink-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 16px 0 0;
    list-style: none;
}
.sui-LinkBasic {
    color: #4d4d4d;
    cursor: pointer;
    font-size: 12px;
    margin: 4px;
    text-decoration: none;
}